<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="demo-packages" value=".\build\packages" />
    <add key="RC1" value="https://dotnetfeedmsrc.azurewebsites.net/sig/IRM5eIunVL12kUvX2iK45SgDtyDTXT7npIPzCyd0A68/se/2018-08-29/orchestrated-release-2-1/20180426-02/final/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
</configuration>
